Delete item?
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">Cancel</button>
    <a class="btn btn-danger btn-ok" ng-click="$close()">Delete</a>
</div>
