<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="dir-path">Currect directory: {{ '{{ ' }}$root.dirPath[$root.dirPath.length-1].name||'rootDir'{{ '}} ' }}</p>
            <a href="#!/gallery/new">
                <button type="button" class="btn btn-success">Add folder</button>
            </a>
            <button ng-if="$root.dirPath.length" type="button" class="btn btn-success" ng-click="upDir($index)">Up</button>

        </div>
        <div class="topic" ng-repeat="directories in gallery.directories track by $index">
            <directorie-element></directorie-element>

        </div>
        <div class="topic" ng-repeat="images in gallery.images track by $index">
            <gallery-element></gallery-element>
        </div>

    </div>
</div>
<!--<img src="gallery/anna-bobrova.jpg">-->