<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-inline">
                <span class="path">
                    <a ng-click="mainPage()">
                        <span>RootDir/</span>
                    </a>
                </span>
                <span class="path" ng-repeat="dirs in $root.dirPath track by $index">
                    <a ui-sref="gallery({id:dirs.id})">
                        {{ '{{ ' }}dirs.name{{ '}} ' }}<span>/</span>
                    </a>
                </span>
            </div>
            <a ui-sref="addDir">
                <button type="button" class="btn btn-success">Add folder</button>
            </a>
            <a ui-sref="addImage">
                <button type="button" class="btn btn-success">Upload Image</button>
            </a>
            <button ng-if="$root.dirPath.length" type="button" class="btn btn-success" ng-click="upDir($index)">Up
            </button>
    </div>
    <div class="panel-body">
        <div class="topic" ng-repeat="directories in gallery.directories track by $index">
            <directory-element></directory-element>
        </div>
        <div class="topic" ng-repeat="images in gallery.images track by $index">
            <gallery-element></gallery-element>
        </div>
    </div>
    <div class="panel-footer">
        <div>
            <button type="button" class="btn btn-success" ng-click="home()">Home</button>
            <button type="button" class="btn btn-success btn-next" ng-click="next()">Next</button>
        </div>
    </div>
</div>
</div>
<!--<img src="gallery/anna-bobrova.jpg">-->