<div>
    <div class="modal-header">
        <h3 class="modal-title">Add/Rename</h3>
    </div>
    <div class="modal-body">
        <input class='elmName' type='text' size='40' value="{{ '{{ ' }}Elm.name{{ '}} ' }}">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submit()">OK</button>
        <a class="viewButton btn btn-warning" ng-click="cancel()">Cancel</a>
    </div>
</div>